@import "reset.css";

body {
    color:black;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width:100%;
    background-color:#525252;
    padding:10px 0;
}

a {
    text-decoration: none;
    color:white;
}

header div {
    width: 960px;
    margin:auto;
    display:flex;
    align-items: center;
}

nav {
    width:calc(100% - 200px);
}

nav ul {
    display:flex;
    justify-content: space-around;
    width:100%;
}

main {
    max-width: 960px;
    margin:30px auto;
}

main div {
    display:flex;
    justify-content: space-between;
    margin:30px 0;
}

section {
    width:calc(50% - 30px);
    height:400px;
}

section h2 {
    font-size:1.2em;
    font-weight:600;
}

section p{
    overflow:auto;
    margin:5px 0;
    height: calc(100% - 2.2em - 30px);
}

section a {
    background-color: black;
    padding: 10px 20px;
    display:inline-block;
}

section a:hover {
    background-color:#525252;
    transition-delay: 350ms;
}

footer {
    width:100%;
    background-color:#525252;
    min-height:50px;
}